<%= form_with model: post, id: id_name do |form| %>
  <%= render "shared/error_messages", object: form.object %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <span class="image">
    <%= form.label :image %>
    <%= form.file_field :image, accept: Settings.img.valid %>
  </span>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
